.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 600px;
}

.cell {
  position: relative;
  width: 200px;
  height: 100px;
  border: black solid 2px;
  background: radial-gradient(
    circle,
    rgba(113, 81, 95, 1) 81%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* 綠球 */
.cell:nth-child(1):after,
.cell:nth-child(3):after,
.cell:nth-child(7):after,
.cell:nth-child(9):after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #a5f12b;
}
